{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% block script %}
        <link rel="stylesheet" href="{% static 'maps/main.css' %}">
        <script src="{% static 'maps/navbar.js' %}"></script>
    {% endblock %}  
</head>
<body>
    
    {% block navbar %}
        {% include "maps/navigation_bar.html" %}
    {% endblock %}

    {% block body %}
        {% include "maps/index_post_layout.html" %}
    {% endblock %}
    
</body>
</html>